// ========================================================
// @elements: typography
// ========================================================
//
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
  font-size: $font-size4;
  font-weight: $font-regular;
  line-height: 1.5;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size1;
  font-weight: $font-semi-bold;
  letter-spacing: -0.02em;
  margin-top: $margin5;
  margin-bottom: $margin4;
}

.h1-light {
  font-weight: $font-light;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size2;
  font-weight: $font-light;
  margin-top: $margin5;
  margin-bottom: $margin4;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size4;
  font-weight: $font-semi-bold;
  margin-top: $margin5;
  margin-bottom: $margin0;
  line-height: 1.25;
}

p,
li {
  max-width: 40rem;
}

p {
  margin-bottom: $padding3;
}


blockquote {
  font-size: 1.4em;
  margin: $margin4 auto;
  font-style: italic;
  color: #555555;
  padding: $padding3 $padding4 $padding2 $padding5;
  border-left: 8px solid $grey;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: $grey;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: $margin3;
}
