// ========================================================
// @elements: typography
// ========================================================
//
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size1;
  font-weight: $font-semi-bold;
  letter-spacing: -0.02em;
  margin-top: $margin5;
  margin-bottom: $margin1;
}

.h1-light {
  font-weight: $font-light;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size2;
  font-weight: $font-light;
  margin-top: $margin5;
  margin-bottom: $margin4;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size4;
  font-weight: $font-semi-bold;
  margin-top: $margin0;
  margin-bottom: $margin4;
  line-height: 1.25;
}

p,
li {
  font-size: $font-size4;
  font-weight: $font-regular;
  line-height: 1.5;
  max-width: 40rem;
}
