// ========================================================
// @settings: colors
// ========================================================
//

$black: #191a1b;
$white: #fefefe;
$grey: #777777;
$light-grey: #d1cccc;
