// ========================================================
// @settings: font-sizes
// ========================================================
//

$font-size1: 3rem;
$font-size2: 2.25rem;
$font-size3: 1.5rem;
$font-size4: 1.25rem;
$font-size5: 1rem;
$font-size6: 0.875rem;
$font-size7: 0.75rem;
