// ========================================================
// @settings: max-widths
// ========================================================
//

$max-width1: 1rem;
$max-width2: 2rem;
$max-width3: 4rem;
$max-width4: 8rem;
$max-width5: 16rem;
$max-width6: 32rem;
$max-width7: 48rem;
$max-width8: 64rem;
$max-width9: 96rem;
$max-width100: 100%;
