// ========================================================
// @settings: colors
// ========================================================
//

//Padding values
$padding0: 0;
$padding1: 0.25rem;
$padding2: 0.5rem;
$padding3: 1rem;
$padding4: 2rem;
$padding5: 4rem;
$padding6: 8rem;
$padding7: 16rem;

//Margin values
$margin0: 0;
$margin1: 0.25rem;
$margin2: 0.5rem;
$margin3: 1rem;
$margin4: 2rem;
$margin5: 4rem;
$margin6: 8rem;
$margin7: 16rem;
