// ========================================================
// @utilities: containers
// ========================================================
//

.container {
  padding: $padding3 $padding3 $padding5 $padding3;
  margin: $margin0 auto;
}

@include bp-not-small {
  .container {
    padding-top: $padding5;
    padding-bottom: $padding5;
  }
}

@include bp-large {
  .container {
    max-width: $max-width8;
    padding-top: $padding5;
    padding-bottom: $padding6;
  }
}

.container-posts {

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  blockquote,
  code {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
