// ========================================================
// @components: background
// ========================================================
//

.background {
    position: absolute;
    top: 0;
    right:0;
    transform: scale(.65);
    transform-origin: top right;
    mix-blend-mode: difference;
  }

  @include bp-medium {
    .background {
        transform: scale(.8);
    }
  }  

  @include bp-large {
    .background {
        transform: scale(1);
    }
  }  