// ========================================================
// @components: get-in-touch
// ========================================================
//

.get-in-touch {
  .container {
    padding-bottom: $padding0;
  }

  p {
    font-size: $font-size4;
    font-weight: $font-regular;
    line-height: 1.25;
    max-width: $max-width7;
    margin-bottom: $margin4;
  }

  a {
    font-size: $font-size4;
  }
}
