// ========================================================
// @components: posts
// ========================================================
//

.container-posts {
  .image-holder {
    text-align: center;
    max-width: $max-width8;

    img {
      margin: $margin4 auto;
      max-width: 100%;

    }

  }

}

.top-bar {
  height: 40px;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    color: $white;
    margin: 0 auto;
    padding: 10px;

  }

}
