@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  color: #191a1b;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-top: 4rem;
  margin-bottom: 2rem; }

.h1-light {
  font-weight: 300; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 2rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 0;
  line-height: 1.25; }

p,
li {
  max-width: 40rem; }

p {
  margin-bottom: 1rem; }

blockquote {
  font-size: 1.4em;
  margin: 2rem auto;
  font-style: italic;
  color: #555555;
  padding: 1rem 2rem 0.5rem 4rem;
  border-left: 8px solid #777777;
  line-height: 1.6;
  position: relative;
  background: #EDEDED; }

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #777777;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px; }

blockquote::after {
  content: ''; }

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem; }

a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 0px 2px 1px 2px;
  color: #191a1b;
  position: relative; }
  a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    content: "";
    background: #191a1b;
    transition: height 0.1s;
    mix-blend-mode: exclusion; }
  a:hover {
    color: #fefefe; }
  a:hover::before {
    height: 100%; }

.a-dark {
  color: #fefefe;
  border-bottom: none; }
  .a-dark::before {
    background: #fefefe; }
  .a-dark:hover {
    color: #fefefe; }
  .a-dark:hover::before {
    height: 100%; }

.background {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.65);
  transform-origin: top right;
  mix-blend-mode: difference; }

@media screen and (min-width: 48em) and (max-width: 64em) {
  .background {
    transform: scale(0.8); } }
@media screen and (min-width: 64em) {
  .background {
    transform: scale(1); } }
.case-study {
  margin-top: 2rem; }
  .case-study p {
    margin-bottom: 2rem; }

@media screen and (min-width: 64em) {
  .case-study {
    max-width: 48rem; }
    .case-study h3 {
      max-width: 48rem; } }
.divider {
  max-width: 100%;
  border-bottom: 1px solid #d1cccc;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.clients {
  background-color: #191a1b; }
  .clients h2 {
    color: #fefefe; }
  .clients .client-logos {
    margin-left: -2rem;
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; }
    .clients .client-logos img {
      margin: 2rem; }

footer .container {
  padding-top: 0;
  padding-bottom: 0; }

.skills-list {
  font-size: 1.25rem;
  font-weight: 400;
  display: none;
  align-self: flex-end;
  padding: 24rem 4rem 0 4rem; }
  .skills-list ul {
    padding-left: 0; }
    .skills-list ul li {
      list-style-type: none;
      line-height: 1.5; }

@media screen and (min-width: 64em) {
  .skills-list {
    display: block; } }
.get-in-touch .container {
  padding-bottom: 8rem; }
.get-in-touch p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 48rem;
  margin-bottom: 2rem; }
.get-in-touch a {
  font-size: 1.25rem; }

.hero {
  background-color: #191a1b;
  color: #fefefe;
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top right;
  background-attachment: fixed; }
  .hero .container {
    display: flex; }
    .hero .container h3 {
      font-weight: 300; }
    .hero .container .currently {
      margin-top: 4rem; }

@media screen and (min-width: 64em) {
  .hero h4 {
    margin-bottom: 16rem; } }
.location-pin {
  padding-right: 0.25rem; }

.container-posts .image-holder {
  text-align: center;
  max-width: 64rem; }
  .container-posts .image-holder img {
    margin: 2rem auto;
    max-width: 100%; }

.top-bar {
  height: 40px;
  background-color: #191a1b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .top-bar .container {
    color: #fefefe;
    margin: 0 auto;
    padding: 10px; }

.skills-list {
  font-size: 1.25rem;
  font-weight: 400;
  display: none;
  align-self: flex-end;
  padding: 24rem 4rem 0 4rem; }
  .skills-list ul {
    padding-left: 0; }
    .skills-list ul li {
      list-style-type: none;
      line-height: 1.5; }

@media screen and (min-width: 64em) {
  .skills-list {
    display: block; } }
.container {
  padding: 1rem 1rem 4rem 1rem;
  margin: 0 auto; }

@media screen and (min-width: 48em) {
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem; } }
@media screen and (min-width: 64em) {
  .container {
    max-width: 64rem;
    padding-top: 4rem;
    padding-bottom: 8rem; } }
.container-posts h1,
.container-posts h2,
.container-posts h3,
.container-posts h4,
.container-posts h5,
.container-posts p,
.container-posts ul,
.container-posts blockquote,
.container-posts code {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
